#!/usr/bin/env bash

## System-wide configuration can be configured in ~/.envrc
source_env_if_exists "${HOME}/.envrc"

PATH_add "bin/dev"

## Specify local overrides that are not committed
source_env_if_exists .local/envrc

## Specify environment variables that must be set. Bash will
## exit 1 if not set.
# : ${ENVIRONMENT_VARIABLE:?expected to be defined in .local/envrc}

